<html>
<body>
    <head>
        <title>Filipe's blog</title>
    </head>
    <h1>Blog do Filipe</h1>
    <h2>Blog de um curioso em programação</h2>
    <h3>Lá vamos nós...</h3>
    <p>Olá, pessoal!</p>
    <p><em><strong>Igor Jesus</strong></em></p>
    <p>Tudo bacana.<br>Tudo legal.<br><a href="https://www.linkedin.com/in/filipeaccorsi/">LinkedIn</a></p>
    <div><br></div>
    <a href=""><h1>Caminhos da vida</h1></a>
    <p>Tudo na vida tem dois caminhos:</p>
    <ul><li>Primeiro caminho</li><li>Segundo caminho</li></ul>
    <p>Tudo no segundo caminho tem dois caminhos:</p>
    <ul><li>Primeiro caminho</li><li>Segundo caminho</li></ul>
    <p>Isso segue assim como um Processo Estocástico!</p>
</body>
</html>